

/* **** Big TABLET **** */
@media only screen and (max-width:1100px){

/****** Navigation Left *****/
#my-photo-small {width: 4rem;}   
#nav-name {font-size: 16px;}
.menu li i {display: none;}
.menu li a {font-size: 0.8rem;}

/* General */
.row-1, .row-2, .row-3, .row-4, .row-5 {
    justify-content: center;
    margin: 10px 0 30px 0;
} 
.row-2, .row-3, .row-4,.row-5 {gap: 10px;}

.services-title h3, .resume-title h3 {
    font-size: 1rem ;
}


/* **** About Page **** */
/* About Title */
.border-box-top-left{display: none;}
.close-page {display: none;}
.about-title {justify-content: center; align-items: center;}
.about-title h2 {font-size: 3rem;}
.about-descr {font-size: 0.7rem;}

/* About row */
.about-img {width: 20vmax; margin-left: 1vw;}
.about-info-descr {line-height: 1.4;}
.media-buttons ul {margin-top: 2px;}
.fab {font-size: 0.8rem;}

/* Services row */
.services-info img {display: none;}
.services-info h4 {
        font-size: 0.8rem;
        margin: 5px 0;
    } 
    .services-info p {
        text-align: center;
        font-size: 0.6rem;
        margin: 0 20px;
    } 

/* Clients Row */
.row-4 {margin: 30px;}
.client-block {width: 100px;}
.client-block img {max-width: 60px;}

/* Testimonials */

.testimonial-block i {font-size: 0.7rem;}
.testimonial-block p {padding: 10px; font-size: 0.5rem;}
.testimonial-author-block p:last-child {padding: 0;font-size: 0.4rem;}
.testimonial-client img { width: 50px; height: 50px;}



/* **** RESUME **** */
   .resume-wrapper-info .column:last-child h4 {font-size: 0.8rem;}

/*  **** PORTFOLIO ****  */
.image-galery {
    width: 80%;
    height: 80vh;
    margin: 2rem auto; 
}
}



/* ******** Small TABLET / MOBILE********* */
@media only screen and (max-width:769px){

    /* background */
.background {height: 100%; width: 100%; left: 0%;background-size: cover; background-position: 50%;}

/* Nav Bar */
.nav-left {
    display: none;
    width: 100vw;
    border-right:  0.1px solid rgb(116, 116, 116);
}   

    #my-photo-small {
        width: 10rem;
        border-radius: 50%;
        margin: 100px 0 30px 0;
        }   

    #nav-name { display: none;}

    .menu li {
        padding: 10px;
        border-bottom: 0.1px solid rgb(116, 116, 116);
        width: 100vw;
    }

    .menu li i {display: inline-block;}
   
    .menu li a {font-size: 1.5rem;}


/* Navigation Burger menu */
.topnav {
    display: block;
    overflow: hidden;
    background-color: gray;
    position: relative;
  }

  .topnav a {
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  

  .topnav a.icon {
    color: #ff724c;
    background: #2a2a2a;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav i:hover {
    background-color: #ddd;
    color: #2a2a2a;
  }
  
  .active {
    background-color: #2a2a2a;
    color: white;
  }


/* General */
.row-1, .row-2, .row-3 {
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 30px 0;
} 


.services-title h3, .resume-title h3 {font-size: 1rem ;}


/* **** About Page **** */
/* About Title */

.about-wrapper {
    width: 100%;
    left: 0;
}

/* About row */
.row2 {
    width: 100vw;
    justify-content: space-evenly;
}
.about-img {width: 90vw; margin-left: auto; margin-right: auto;}
.about-info-descr {line-height: 1.4; width: 80%; text-align: center;  margin-left: auto; margin-right: auto;}
.info-list li {margin-left: 5vw;}


/* Media Buttons */
.media-buttons ul {margin-top: 2px; margin-left: 5vw; }
.fab {font-size: 1.6rem;}

/* Services row */
.services-title h3 {font-size: 1.2rem;}
.services-info img {display: block; margin-top: 20px; margin-bottom: 5px;}
.services-info h4 {
        font-size: 1.5rem;
        margin: 5px 0;
    } 

.services-info p {
    text-align: center;
    font-size: 1rem;
    margin: 0 20px;
} 

/* Clients Row */
.row-4 {margin-left: auto; margin-right: auto;}
.client-block img {max-width: 50px;}

/* Testimonials */
.row-5 {
    flex-direction: column;
    justify-content: space-evenly;}
.testimonial-block {
    width: 80%;
    flex-direction: row;}
.testimonial-block i {font-size: 1rem;}
.testimonial-block>p {padding: 10px; font-size: 1rem; margin-left: 10px;}
.testimonial-author-block {display: flex; flex-direction: column; justify-content: center; }
.testimonial-author-block > p {padding: 0;font-size: 0.7rem;}
.testimonial-author-block p:last-child {padding: 0;font-size: 0.7rem;}
.testimonial-client img { width: 50px; height: 50px;  margin-top: 25px}




   /* **** RESUME  **** */
   .resume-wrapper {width: 100%; left: 0;}
   .resume-wrapper-info {
        flex-direction: column;
        justify-content: center;
   }

   .column:first-child, .column:nth-child(2),.column:nth-child(3) {
        width: 100vw;
        margin-left: 10px;
   }
   .resume-title h3 {font-size: 1.2rem;}
   .timeline-event {width: 100vw;}
   .skills-container {width: 95vw;}

   /* CV Button - Last element */
   .cv-button {position: absolute;
    bottom: 0;
    }
    .skills-container:last-child {margin-bottom: 100px;}

   /*  **** PORTFOLIO ****  */
   .image-galery {
    width: 90%;
    height: 100%;
  }

  .gallery {
      display: flex;
      flex-direction: column;
  }

/* Form Button */

.form-button {
    position: absolute;
    right: 4vw;
}









    
}